{% extends '@SyliusShop/layout.html.twig' %}
{% import '@SyliusUi/Macro/pagination.html.twig' as pagination %}

{% block content %}
    {% include '@MonsieurBizSyliusSearchPlugin/Taxon/_header.html.twig' %}

    {% if resultSet.totalHits == 0 %}
        {{ 'monsieurbiz_searchplugin.search.result.no_result'|trans }}
    {% else %}
        <div class="ui stackable grid">
            <div class="four wide column">
                {% include '@MonsieurBizSyliusSearchPlugin/Taxon/_sidebar.html.twig' %}
            </div>
            <div class="twelve wide column">
                {% include '@MonsieurBizSyliusSearchPlugin/Taxon/_pagination.html.twig' %}
                <div class="ui clearing hidden divider"></div>

                <div class="ui three cards" id="products">
                    {% for result in resultSet.results %}
                        {% include '@MonsieurBizSyliusSearchPlugin/Taxon/_box.html.twig' with {'result': result} %}
                    {% endfor %}
                </div>

                <div class="ui hidden divider"></div>
            </div>
        </div>

        {{ pagination.simple(resultSet.pager) }}
    {% endif %}
{% endblock %}
