/vendor/
/node_modules/
/composer.lock

/etc/build/*
!/etc/build/.gitignore

/tests/Application/yarn.lock

/behat.yml
/phpspec.yml

/package-lock.json

/.php_cs.cache
/.php-version
/.phpunit.result.cache
/node_modules


###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/./tests/Application/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> friends-of-behat/symfony-extension ###
/behat.yml
###< friends-of-behat/symfony-extension ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> lexik/jwt-authentication-bundle ###
/./tests/Application/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
