{{ sonata_block_render_event('sylius.shop.search.header.before', {'query': query}) }}

<h1 class="ui monster section dividing header">
    {{ 'monsieurbiz_searchplugin.search.result.search_result'|trans({'%query%': query, '%count%': resultSet.totalHits}) }}
</h1>

{{ sonata_block_render_event('sylius.shop.search.header.after', {'query': query}) }}
