{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h1 class="ui monster section dividing header">
        {{ 'monsieurbiz_searchplugin.search.result.search_result'|trans({'%query%': query}) }}
    </h1>

    {% if results is empty %}
        {{ 'monsieurbiz_searchplugin.search.result.no_result'|trans }}
    {% else %}
        <div class="ui three cards" id="products">
            {% for result in results %}
                {% include '@MonsieurBizSyliusSearchPlugin/Search/_box.html.twig' with {'result': result} %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
