{% extends '@SyliusShop/layout.html.twig' %}
{% import '@SyliusUi/Macro/pagination.html.twig' as pagination %}

{% block content %}
    <h1 class="ui monster section dividing header">
        {{ 'monsieurbiz_searchplugin.search.result.search_result'|trans({'%query%': query}) }}
    </h1>

    {% if resultSet.totalHits == 0 %}
        {{ 'monsieurbiz_searchplugin.search.result.no_result'|trans }}
    {% else %}
        <div class="ui three cards" id="products">
            {% for result in resultSet.results %}
                {% include '@MonsieurBizSyliusSearchPlugin/Search/_box.html.twig' with {'result': result} %}
            {% endfor %}
        </div>

        <div class="ui hidden divider"></div>

        {{ pagination.simple(resultSet.pager) }}
    {% endif %}
{% endblock %}
