<div class="ui fluid vertical menu mbiz-sylius-search-filters">
    <div class="header item">
        {{ 'monsieurbiz_searchplugin.filters.filter_results' | trans }}
    </div>

    {% if resultSet.filters|length == 0 and resultSet.priceFilter is not defined %}
        <div class="item">
            {{ 'monsieurbiz_searchplugin.filters.no_filter'|trans }}
        </div>
    {% else %}

        {% if resultSet.taxonFilter is not empty %}
            {% include '@MonsieurBizSyliusSearchPlugin/Common/_filter.html.twig' with {'filter': resultSet.taxonFilter} %}
        {% endif %}

        {% if resultSet.priceFilter is not empty %}
            {% include '@MonsieurBizSyliusSearchPlugin/Common/_rangeFilter.html.twig' with {'filter': resultSet.priceFilter} %}
        {% endif %}

        {% for filter in resultSet.filters %}
            {% include '@MonsieurBizSyliusSearchPlugin/Common/_filter.html.twig' with {'filter': filter} %}
        {% endfor %}
    {% endif %}

</div>
